<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->vscode-file://vscode-app/c:/Users/USER/AppData/Local/Programs/Microsoft%20VS%20Code/resources/app/out/vs/code/electron-sandbox/workbench/workbench.html
      <title>{% block title %}Home{% endblock %}</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- stylesheet -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <div class="header">
         <div class="container">
            <div class="row d_flex">
               <div class=" col-md-2 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                           <!--<a href="index.html"><img src="images/logo.png" alt="#" /></a>-->
                           <span id="tech">tech</span> <span id="path"><sup>Path</sup></span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-8 col-sm-12">
                  <nav class="navigation navbar navbar-expand-md navbar-dark ">
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarsExample04">
                        <ul class="navbar-nav mr-auto">
                           <li class="nav-item active">
                              <a class="nav-link" href="index.html">Home</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="about.html">About</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="hosting.html">Explore Careers</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="domain.html">Jobs</a>
                           </li>
                          
                           <li class="nav-item">
                              <a class="nav-link" href="contact.html">Contact Us</a>
                           </li>
                        </ul>
                     </div>
                  </nav>
               </div>
               <div class="col-md-2  d_none">
                  <ul class="email text_align_right">
                     <li><a href="Javascript:void(0)">Sign In
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- end header inner -->
      <!-- top -->
      <div class="full_bg">
         <div class="slider_main">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <!-- carousel code -->
                     <div id="banner1" class="carousel slide">
                        <ol class="carousel-indicators">
                           <li data-target="#banner1" data-slide-to="0" class="active"></li>
                           <li data-target="#banner1" data-slide-to="1"></li>
                           <li data-target="#banner1" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                           <!-- first slide -->
                           <div class="carousel-item active">
                              <div class="carousel-caption relative">
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="dream">
                                          <h1>
                                             ROAD-MAP <br>FOR THE TECH <br>ECHO-SYSTEM
                                          </h1>
                                          <a class="read_more" href="Javascript:void(0)">Get Stared</a>    
                                          <a class="read_more" href="Javascript:void(0)">Contact Us</a>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="dream_img">
                                          <figure><img src="images/dream_img1.jpeg" alt="#"/></figure>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- second slide -->
                           <div class="carousel-item">
                              <div class="carousel-caption relative">
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="dream">
                                          <h1>
                                             CEREER GUIDE <br>FOR TECH <br>RELATED <br>FIELDS
                                          </h1>
                                          <a class="read_more" href="Javascript:void(0)">Get Stared</a>    
                                          <a class="read_more" href="Javascript:void(0)">Contact Us</a>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="dream_img">
                                          <figure><img src="images/dream_img3.png" alt="#"/></figure>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- third slide-->
                           <div class="carousel-item">
                              <div class="carousel-caption relative">
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="dream">
                                          <h1>
                                             SPECIALIZED <br>GUIDANCE <br>for tech enthusiast
                                          </h1>
                                          <a class="read_more" href="Javascript:void(0)">Get Stared</a>    
                                          <a class="read_more" href="Javascript:void(0)">Contact Us</a>
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="dream_img">
                                          <figure><img src="images/dream_img4.png" alt="#"/></figure>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- controls -->
                        <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end banner -->
      
      <!-- Explore Fields -->
      <div class="order">
         <div class="container">
            <div class="row">
               <div class="col-md-8 offset-md-2">
                  <div class="titlepage text_align_center">
                     <h2><!--Check Out Awesome Plans, <br> --><span class="blue_light">EXPLORE CAREERS</span></h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="ho_co" class="order-box_main">
                     <div class="order-box text_align_center">
                        <h3>Data Science with Python</h3>
                        <img class="flex_img" src="images/nd-card.jpg">
                        <p>Explore the fundamental programming tools for data 
                           professionals namely: Python, SQL, terminal, and Git.
                        </p>
                     </div>
                     <a class="read_more" href="Javascript:void(0)">Explore</a>
                  </div>
               </div>
               <div class="col-md-4">
                  <div id="ho_co" class="order-box_main">
                     <div class="order-box text_align_center">
                        <h3>AI PROGRAMMING WITH PYTHON</h3>
                        <img class="flex_img" src="images/nd-card (1).jpg">
                        <p>Explore python programmig, Numpy, pandas, Matplotlib, PyTorch
                          , calculus and linear algebra. 
                        </p>
                     </div>
                     <a class="read_more" href="Javascript:void(0)">Explore</a>
                  </div>
               </div>
               <div class="col-md-4">
                  <div id="ho_co" class="order-box_main">
                     <div class="order-box text_align_center">
                        <h3>AI FOR TRADING</h3>
                        <img class="flex_img" src="images/nd-card (2).jpg">
                        <p>Explore real world projects desinged by experts. 
                           Topics from asset management to trading signals,
                           AI algorithms for trading.  
                        </p>
                     </div>
                     <a class="read_more" href="Javascript:void(0)">EXPLORE</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Explore Fields -->
      
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="infoma text_align_left">
                        <h3>Mission</h3>
                        <p class="mission">TechPath, a roadmap for the tech ecosystem, 
                           offers professional and specialized 
                           guidance for individuals looking to advance or venture 
                           into any tech related career discipline.</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6">
                     <div class="infoma">
                        <h3>Get Support.</h3>
                        <ul class="conta">
                           <li><i class="fa fa-map-marker" aria-hidden="true"></i>Address : Lagos Nigeria 
                           </li>
                           <li><i class="fa fa-phone" aria-hidden="true"></i>Call : +2349033535760</li>
                           <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="Javascript:void(0)"> Email : osaosun@gmail.com</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="infoma">
                        <h3>Useful Links</h3>
                        <ul class="menu_footer">
                           <li><a href="index.html">Home</a></li>
                           <li><a href="about.html">About </a></li>
                           <li><a href="domain.html">Explore Careers</a></li>
                           <li><a href="hosting.html">Jobs</a></li>
                           <li><a href="contact.html">Contact</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <div class="infoma text_align_left">
                        <h3>Services.</h3>
                        <ul class="commodo">
                           <li>Job listings</li>
                           <li>Career guidance</li>
                           <li>Networking</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2023 All Rights Reserved. <a href="index.html"> TechPath</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <!-- sidebar -->
      <script src="js/custom.js"></script>

      <script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
      ></script>
   </body>
</html>
